# 번들 cowrie.cfg.dist 위에 덮어쓰는 값만 적는다. 나머지는 기본값
# 두 센서가 이 파일을 똑같이 써야 리전 비교가 성립함

[honeypot]
# 기본값 svr04 는 허니팟 지문으로 알려져 있음
hostname = srv-web-01
timezone = UTC

[ssh]
enabled = true
# 가짜 셸 안은 Debian 12.5 (issue, debian_version, uname 6.1.90-1 2024-05-03) 인데 배너를
# Ubuntu 26.04 로 뒀더니 앞뒤가 안 맞았음 (10-03). 그 시점 bookworm 의 openssh 9.2p1-2+deb12u2 로 맞춤
version = SSH-2.0-OpenSSH_9.2p1 Debian-2+deb12u2
listen_endpoints = tcp:2222:interface=0.0.0.0

[shell]
# 기본값은 ssh -V 가 OpenSSH_7.9p1 / OpenSSL 1.1.1a 로 나와서 배너와 다름
ssh_version = OpenSSH_9.2p1 Debian-2+deb12u2, OpenSSL 3.0.11 19 Sep 2023

[telnet]
# 기본값 false. 나중에 켜면 SSH 와 관측 기간이 달라져 비교축이 깨진다
enabled = true
listen_endpoints = tcp:2223:interface=0.0.0.0

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json
epoch_timestamp = false
